<!--Footer-->
<footer>
  <!--Copyright-->
  <!--Footer Links-->
  <div class="container-fluid text-center text-md-left">
    <div class="row">

      <!--First column-->
      <div class="col-md-4">
        <h5 class="text-uppercase">DARKSIDE</h5>
        <ul class="list-unstyled">
          <li>
            <a (click)="redirectToAbout()">A propos</a>
          </li>
          <li>
            <a (click)="redirectToSalles()">Nos salles</a>
          </li>
          <li>
            <a  (click)="redirectToTarif()">Tarifs</a>
          </li>
          <li>
            <a (click)="redirectToContact()">Contact</a>
          </li>
          <li>
            <a routerLink="/faq" routerLinkActiv>FAQ</a>
          </li>
        </ul>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-4">
        <div class="col-md-8 offset-2 mx-auto">
        <img src="../../assets/images/logo_2.png" class="img-fluid">
        </div>
      </div>
      <!--/.Second column-->
      <div class="col-md-4">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fdarkzoneeuropark%2F&tabs&width=340&height=130&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId=874042452760843" style="border:none;max-width: 100%;overflow:hidden" width="100%" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fdarkzoneeuropark%2F&width=450&layout=standard&action=like&size=small&show_faces=true&colorscheme=dark&share=true&height=80&appId=874042452760843"  style="border:none;overflow:hidden;"  width="100%" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>
    </div>
  </div>
  <!--/.Footer Links-->
  <div class="footer-copyright py-3 text-center">
    © 2018 Copyright:
    <a href="#"> Darkside </a>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
