.footer-copyright {
  background: #17263c;
  color: white;
}

footer {
  background-color: #1f2835;
  border-top: solid 4px #CB3B32;
}

a {
  color: white !important;
  text-transform: uppercase;
  font-weight: bolder;
}

h5 {
  color: #CB3B32;
  font-weight: bold;
}

