<section id="price" class="content-section text-center container-fluid">
  <div class="pricing ">
    <div class="[ price-option price-option--high ]" style="padding-top: 0px;">
      <div class="price-option__detail">
        <span class="price-option__cost">19€/P</span>
        <span class="price-option__type">6 Personnes</span>
      </div>
      <a href="https://bookeo.com/darkside" target="_blank" class="price-option__purchase">Réserver</a>
    </div>
    <div class="[ price-option price-option--mid ]" style="padding-top: 0px;">
      <div class="price-option__detail">
        <span class="price-option__cost">22€/P</span>
        <span class="price-option__type">5 Personnes</span>
      </div>
      <a href="https://bookeo.com/darkside" target="_blank" class="price-option__purchase">Réserver</a>
    </div>
    <div class="[ price-option price-option--low--mid ]" style="padding-top: 0px;">
      <div class="price-option__detail">
        <span class="price-option__cost">24€/P</span>
        <span class="price-option__type">4 Personnes</span>
      </div>
      <a href="https://bookeo.com/darkside" target="_blank" class="price-option__purchase">Réserver</a>
    </div>
    <div class="[ price-option price-option--low ]" style="padding-top: 0px;">
      <div class="price-option__detail">
        <span class="price-option__cost">26€/P</span>
        <span class="price-option__type">3 Personnes</span>
      </div>
      <a href="https://bookeo.com/darkside" target="_blank" class="price-option__purchase">Réserver</a>
    </div>
  </div>
</section>
