<section id="about" class="content-section text-center ">
  <div class="col-12 col-sm-12 col-md-6 mx-auto img-thumbnail">
    <iframe width="100%" height="400" src="https://www.youtube.com/embed/zya9GyWJmnQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="row about-lg container-fluid">
    <div class="col-lg-3 wow fadeIn card">

      <!--Card image-->
      <img class="img-fluid img-card" src="../../assets/images/icon_site/engrenage.png" alt="Card image cap">

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Difficultés</h4>
        <!--Text-->
        <p class="card-text">Facile, moyenne, difficile : Adaptez votre expérience en choississant votre propre niveau de difficulté.</p>
      </div>
    </div>

    <div class="col-lg-3 wow fadeIn card">

      <!--Card image-->
      <img class="img-fluid img-card" src="../../assets/images/icon_site/Entypo_d83d(1)_512.png" alt="Card image cap">

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">3-6 Joueurs</h4>
        <!--Text-->
        <p class="card-text">En famille, entre collègues ou alors entre amis, le DARKSIDE ouvre ses portes à des groupes de 3 à 6 personnes.</p>
      </div>
    </div>
    <div class="col-lg-3 wow fadeIn card">

      <!--Card image-->
      <img class="img-fluid img-card" src="../../assets/images/icon_site/Entypo_d83d(0)_512.png" alt="Card image cap">

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">1 heure</h4>
        <!--Text-->
        <p class="card-text"> 1 heure ! <br> C'est le temps qui vous sera donné pour vous en sortir. <br> Y parviendrez-vous ?</p>
      </div>
    </div>
    <div class="col-lg-3 wow fadeIn card">

      <!--Card image-->
      <img class="img-fluid img-card" src="../../assets/images/icon_site/Entypo_d83d(2)_512.png" alt="Card image cap">

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Publique</h4>
        <!--Text-->
        <p class="card-text">Pour son expérience, le DARKSIDE accueil des personnes de tout age à partir de 12 ans.</p>
      </div>
    </div>
  </div>

  <div class="row container-fluid about-sm">
    <div class="row wow fadeIn card-sm">
      <div class="col-5">
        <img class="img-fluid img-card" src="../../assets/images/icon_site/engrenageR.png" alt="Card image cap">
      </div>
      <div class="col-7">
        <!--Title-->
        <h4 class="card-title">Difficultés</h4>
        <!--Text-->
        <p class="card-text">Facile, moyenne, difficile : Adaptez votre expérience en choississant votre propre niveau de difficulté.</p>
      </div>
    </div>

    <div class="row wow fadeIn card-sm">
      <div class="col-7">
        <!--Title-->
        <h4 class="card-title">3-6 joueurs</h4>
        <!--Text-->
        <p class="card-text">En famille, entre collègues ou alors entre amis, le DARKSIDE ouvre ses portes à des groupes de 3 à 6 personnes.</p>
      </div>
      <div class="col-5">
        <img class="img-fluid img-card" src="../../assets/images/icon_site/joueursR.jpg" alt="Card image cap">
      </div>
    </div>

    <div class="row wow fadeIn card-sm">
      <div class="col-5">
        <img class="img-fluid img-card" src="../../assets/images/icon_site/heureR.jpg" alt="Card image cap">
      </div>
      <div class="col-7">
        <!--Title-->
        <h4 class="card-title">1 heure</h4>
        <!--Text-->
        <p class="card-text"> 1 heure ! <br> C'est le temps qui vous sera donné pour vous en sortir. <br> Y parviendrez-vous ?</p>
      </div>
    </div>

    <div class="row wow fadeIn card-sm">
      <div class="col-7">
        <!--Title-->
        <h4 class="card-title">Publique</h4>
        <!--Text-->
        <p class="card-text">Pour son expérience, le DARKSIDE accueil des personnes de tout age à partir de 12 ans</p>
      </div>
      <div class="col-5">
        <img class="img-fluid img-card" src="../../assets/images/icon_site/publiqueR.jpg" alt="Card image cap">
      </div>
    </div>

  </div>
</section>
