<section id="contact" class="content-section text-center">
  <!--
    <div class="col-lg-10 mx-auto">
      <div class="col-lg-6">
        <div class="row">
          <div class="md-form col-6">
            <input type="text" id="nom" class="form-control">
            <label style="left: .9em;" for="nom">Votre nom</label>
          </div>

          <div class="md-form col-6">
            <input type="email" id="email" class="form-control">
            <label style="left: .9em;" for="email">Votre email</label>
          </div>
        </div>
        <div class="md-form">
          <input type="text" id="Objet" class="form-control">
          <label for="Objet">Objet</label>
        </div>

        <div class="md-form">
          <textarea type="text" id="contenue" class="form-control md-textarea" rows="3"></textarea>
          <label for="contenue">Votre message</label>
        </div>
        <div class="row mx-auto">
          <button type="button" class="btn btn-outline-info waves-effect">Envoyer</button>
        </div>
      </div>
      <div class="col-lg-6">

      </div>
    </div>
  -->
  <div class="col-lg-10 mx-auto">
    <div class="col-lg-12">
      <div class="row">
        <div class="md-form col-12 col-sm-4 col-md-4">
          <i class="fa fa-phone fa-5x red-text" aria-hidden="true"></i>
          <h3>Téléphone</h3>
          <span>06 62 13 93 10</span>
        </div>

        <div class="md-form col-12 col-sm-4 col-md-4">
          <i class="fa fa-home fa-5x red-text" aria-hidden="true"></i>
          <h3>Adresse</h3>
          <span>Rue de farinette</span><br>
          <span>34450, Vias</span>
        </div>
        <div class="md-form col-12 col-sm-4 col-md-4">
          <i class="fa fa-envelope fa-5x red-text" aria-hidden="true"></i>
          <h3>Contact</h3>
          <span>contact@darkside-escapegame.com</span>
        </div>
      </div>
    </div>
  </div>
</section>
