/*https://codepen.io/wmcbain/pen/Jopmog?q=detail&limit=all&type=type-pens*/
@font-face {
  font-family: daysLater;
  src: url(../../font/28_days_later/28_Days_Later.ttf);
}

* {
  transition: 0.3s all ease;
}

body {
  font-family: Avenir, Helvetica, sans-serif;
  font-size: 62.5%;
  text-rendering: geometricPrecision;
}

#wrapper {
  /*padding: 2.0em;*/
}

.image-box {
  float: left;
}

.image-content {
  overflow: hidden;
  position: relative;
}

.image-content img {
  display: block;
  width: 100%;
  transform: rotate(5deg) scale(1.2);
}

.image-content img.detail-hover-state {
  transform: none;
}

.image-content .image-detail {
  background-color: rgba(184, 184, 184, 0.4);
  color: #fff;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.image-content .image-detail h3 {
  font-size: 2.5em;
  font-weight: 500;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 35%;
}

.image-content .image-detail .detail-text {
  bottom: .0em;
  font-size: 1em;
  line-height: 1.2em;
  position: absolute;
  width: 100%;
  text-align: justify;
  padding: .5em;
  background: rgba(0,0,0,0.8);
}

.image-content, .image-content .image-detail {
  transform: scale(1);
}

.image-content, .image-content img, .image-content .image-detail {
  -webkit-backface-visibility: hidden;
}

.image-content .image-detail, .image-box, .image-content .image-detail .detail-text {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.image-content .button {
  position: absolute;
  top: 50%;
  opacity: 0;
  z-index: 999;
  text-align: center;
  transform: translate(0, -50%);
  width: 100%;
}

.image-content .button.show {
  opacity: 1;
}

.button {
  cursor: pointer;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 0.7em 1.2em;
  text-decoration: none;
  transition: all 0.2s ease;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.btn-normal {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.btn-normal:hover {
  background-color: rgba(25, 25, 25, 0.5);
  letter-spacing: 0.2em;
}

@media all and (max-width: 900px) {
  .image-box {
    margin: 1.0em 2.5%;
    width: 45%;
  }
}

@media all and (max-width: 500px) {
  .image-box {
    margin: 1.0em 2.5%;
    width: 95%;
  }
}

.titre-salle {
  font-family: daysLater;
  color: #CB3B32;
  font-weight: bolder;
  background: rgba(0,0,0,0.8);
}

@media (min-width: 992px) {

  .item-salle {
    width: 46%;
    margin: 2%;
  }
}

@media (max-width: 992px) {
  .item-salle {
    width: 100%;
    margin-top: 4%;
  }
}

@media all and (max-width: 992px) {
  .image-box {
    width: 100%;
  }
}

@media all and (max-width: 864px) {
  .container-fluid {
    width: 94%;
    margin-right: 0%;
    margin-left: 1%;
    padding: 2vw;
  }
}

@media all and (min-width: 864px) {
  .container-fluid {
    width: 94%;
    margin-right: auto;
    margin-left: auto;
    padding: 2vw;
  }
}

p {
  margin-top: 0;
  margin-bottom: 0rem;
}
