<section id="faq">
  <div class="row container-fluid">
    <div class="card col-sm-12">
      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">Taille des équipes de jeux</h4>
        <!-- Text -->
        <p class="card-text">La salle peut acceuillir de 3 à 6 personnes.</p>
      </div>
    </div>
    <div class="card col-sm-12">
      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">La salle est-elle disponible dans des langues étrangères ?</h4>
        <!-- Text -->
        <p class="card-text">Les éléments proposés tout au long de l'expérience sont sous-titrés en anglais ainsi qu'en hollandais</p>
      </div>
    </div>
    <div class="card col-sm-12">
      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">Femmes enceintes</h4>
        <!-- Text -->
        <p class="card-text">DARKSIDE peut tout à fait accueillir les femmes enceintes.</p>
      </div>
    </div>
    <div class="card col-sm-12">
      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">Personnes sensibles</h4>
        <!-- Text -->
        <p class="card-text">La salle est déconseillée aux personnes claustrophobes et/ou trop peureuses.</p>
      </div>
    </div>
    <div class="card col-sm-12">
      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">Et si je veux sortir ?</h4>
        <!-- Text -->
        <p class="card-text">Le Game Master viendra immédiatement vous ouvrir, pas d’inquiétude.</p>
      </div>
    </div>
    <div class="card col-sm-12">
      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">Accessibilité</h4>
        <!-- Text -->
        <p class="card-text">Les salles sont accessibles aux personnes en fauteuil roulant. Cependant, les personnes
          malvoyantes et/ou mal-entendantes auront des difficultés pour résoudre certaines
          énigmes.</p>
      </div>
    </div>
    <div class="card col-sm-12">
      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">Réservation</h4>
        <!-- Text -->
        <p class="card-text">Si vous souhaitez réserver une session Live Escape Game, rendez-vous sur notre <a target="_blank" href="https://bookeo.com/darkside">page</a>
          de réservation.</p>
      </div>
    </div>
    <div class="card col-sm-12">
      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">Timing du jeu</h4>
        <!-- Text -->
        <p class="card-text">Il est conseillé d’arriver 15 minutes avant la session afin d’éviter de gêner les autres
          joueurs. Comptez 1h30 de jeux entre l’arrivée et la sortie.</p>
      </div>
    </div>
    <div class="card col-sm-12">
      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title">Tarifs</h4>
        <!-- Text -->
        <p class="card-text">Tarifs à partir de 19€ par personne selon la taille de l’équipe et l’horaire choisi. Rendez-vous
          sur notre page de réservation pour en savoir plus. Merci de noter que DARKSIDE est
          une activité live. Par conséquent, une fois la réservation confirmée, les remboursements,
          annulations ou changements d’horaires ne sont pas acceptés (Conformément à l’article
          L121-21-8, le droit de rétractation ne peut être exercé).</p>
      </div>
    </div>
    <!-- Card -->
  </div>
</section>
