<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
  <div class="container">

    <!-- Brand
    <a class="navbar-brand" href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">
      <strong>MDB</strong>
    </a>-->

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/accueil" routerLinkActive>Accueil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="redirectToAbout()">à propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="redirectToSalles()">Nos salles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="redirectToTarif()">Tarifs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="redirectToContact()">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/faq" routerLinkActive>FAQ</a>
        </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a href="https://bookeo.com/darkside" class="nav-link border border-light rounded"
             target="_blank">
            Réserver
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">A faire aussi</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" target="_blank" href="http://www.europarkvias.com/">Europark</a>
            <a class="dropdown-item" target="_blank" href="http://www.europarkindoor.com/fr/">Europark Indoor</a>
            <a class="dropdown-item" target="_blank" href="https://www.megakart.info/">Megakart</a>
          </div>
        </li>
        <li>
          <a target="_blank" href="https://www.facebook.com/darkzoneeuropark/">
            <img src="../../assets/images/facebook.png" class="img-fluid">
          </a>
        </li>
      </ul>

    </div>

  </div>
</nav>
<!-- Navbar -->
