<app-carousel></app-carousel>
<div id="about">
  <div class="filtre-degrade">
    <div class="titre-partie-rouge">
      <h1>A propos du dark side</h1>
    </div>
    <app-about></app-about>
  </div>
</div>
<div id="salles">
  <div class="filtre-degrade">
    <div class="titre-partie-rouge">
      <h1>Nos salles</h1>
    </div>
    <app-salles></app-salles>
  </div>
</div>
<div id="price">
  <div class="filtre-degrade">
    <div class="titre-partie-rouge">
      <h1>Nos tarifs</h1>
    </div>
    <app-price></app-price>
    <app-contact></app-contact>
  </div>
</div>
<div id="map" class="col-12">
  <app-google-map></app-google-map>
</div>
